<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS alert!</title>
</head>
<body>
    <div class="nojs-container" style="text-align: center; margin: auto;">
        <h1>JavaScript is Disabled</h1>
        <p>This website requires JavaScript to function properly. Please enable JavaScript in your browser settings and refresh the page.</p>
        <p>If you need assistance, please refer to your browser's help documentation.</p>
    </div>
</body>
</html>